@media screen and (max-width: 700px){
    header .container{
        display:flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 300px;
        
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
    .botao{
        margin-bottom: 100px;
    }
}